name: Package Extension

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create ZIP archive
        run: zip -r sales-nav-red-dot.zip . -x "*.git*" ".github/*" "README.md" "LICENSE" ".DS_Store"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: sales-nav-red-dot-extension
          path: sales-nav-red-dot.zip
